:root{
    --white:white;
    --dark:#2c3e50;
}
*{
    padding:0;
    margin:0;
}
body{
    font-family: Roboto,sans-serif;
    font-weight: 300;
    /* height:1000vh; */
}
.clear{
    clear:both;
}
/* introduction & main_photo */
.intro{
    background-image: url("../images/workout2.jpg");
    background-size:cover;
    height:95vh;
}
.logo{
    width:27%;
    /* background-color: red; */
    float:left;
    
}
.logo p{
    font-size:17px;
    color:var(--white);
    margin-left:10%;
    padding:3vh 0;
    text-transform:uppercase;
    font-weight: bold;;


}
nav .lists{
    overflow:hidden;
    background-color:#22201E;
    opacity:.6
}
nav .menue{
    float:left;
    list-style:none;
    width:58%;
    /* background-color:green; */
    padding:3vh 0;
}
nav .menue li{
    float:left;
    margin-left:8vh;
}
nav  .menue li a {
    color:var(--white);
    text-decoration: none;
    text-transform: uppercase;

}

nav .personal {
    float:left;
    list-style:none;
    width:15%;
    /* background-color:blue; */
    padding:3vh 0;
    

}
nav .personal li{
    float:left;
    margin-left:6vh;
    color:var(--white);
}

nav .explain {
    padding:12vh 0 0 12vh;
    float: left;
    
    width:83%;
    
}
nav .explain .h{
    padding:0 0 2vh 0;

}
nav .explain h1{
    font-size:45px;
    text-transform:uppercase;
    font-weight:bold;
    color:var(--white);
    line-height:1.3;
    word-spacing:1vh;
    margin:0;
}
nav .explain p{
    
    font-size: 22px;
    color:var(--white);
    line-height:1.7;
    padding:0 0 8vh 0;

}

nav .explain button{
    width:30vh;
    height:7vh;
    background-color:red;
    border-radius: 1vh;
    border-style:none;
    text-transform: uppercase;
    color: var(--white);
}

nav .chervon_left{
    padding:30vh 0 0 3vh;
    float:left;
}
nav .chervon_right{
    padding:30vh 0 0 4vh;
    float:left;
}

nav .chervon_right .icon_ch_r{
    color:var(--white)
}
nav .chervon_left .icon_ch_l{
    color:var(--white)
}
nav .chervon_left .pause{
    padding:39vh 0 0 0vh;
}
nav .chervon_left .pause .icon_pause{
    color:var(--white);
    font-size: 6vh;
}
/* ##################################################################################### */
                                    /* equipments */
.equipment{
    width:100%;
    background-color: #F5F7F9;
    

}
.equipment .container{
    width:65%;
    /* background-color: red; */
    margin:auto;
    /* height:90vh */
}
.equipment .tools{
    overflow:hidden;
    width:100%;
    padding: 8vh 0;
}
.equipment .tools .tool{
    width:20vh;
    height:20vh;
    background-color: white;
    float:left;
    margin-left:5vh;
    box-shadow:1px 1px 9px 1px #F1F3F5;

}
.equipment .tools .tool img{
    /* margin:0 5vh 5vh 0; */
    margin-left: -2vh;
    width:20vh;
    height:18vh;
    margin-top: -1vh;
}
.equipment .tools .tool h4{
    text-transform: uppercase;
    color:#707175;
    font-size: 14px;
    float:right;
    padding-right: 1.5vh;
}
/* ##################################################################################### */
                                       /* classes */
.classes .f_p{
    padding:17vh 0 5vh 0;
}
.classes .f_p p{
    text-align:center;
    color:var(--dark);
    font-size: 38px;


}
.classes .s_p{
    padding:0 0 7vh 0;
}
.classes .s_p p{
    text-align:center;
    color:#65666A;
    font-size: 20px;
    line-height:1.3;


}
.classes .buttons{
    float:left;
    padding:0 0 14vh 70vh;

}
.classes .buttons button{
    margin-left:2vh;
    
}
.classes .buttons :first-of-type{
    background-color: red;
    width:26vh;
    height:5vh;
    border-style: none;
    border-radius: .5vh;
    color:var(--white);
    font-size: 13px;
    font-weight: bold;
    
}
.classes .buttons :last-of-type{
    background-color: transparent;
    width:26vh;
    height:5vh;
    border-style: none;
    border-radius: .5vh;
    border:2px black solid;
    font-size: 13px;
    font-weight: bold;
}

.classes .kinds{
    overflow: hidden;
    margin-left: -1.5vh;
}

.classes .kinds .training{
    
    
    padding-bottom:3vh;
    float:left;
    margin-left:4vh;
}
.classes .kinds .training img{
    width:35vh;
    height:43vh;
    border-radius: .7vh;
}
.classes .kinds .training p{
    color:var(--white);
    font-size: 25px;
    margin-top: -8vh;
    padding:0 0 3vh 3vh;
}
.classes .circles{
    margin-left: 90vh;
}
.classes .circle{
    width:1vh;
    height:1vh;
    background-color: #A8ACB1;
    border-radius:.5vh;
    float:left;
    margin-left: .8vh;
    
}
.classes .circles :first-of-type{
    background-color: #65666A;
}
/* ##################################################################################### */
/* costs */
.costs .container_costs{
    width:60%;
    margin:auto;
}   
.costs{
    padding-top:20vh;
}
.costs .box{
    width:35vh;
    height:22vh;
    background-color: #212528;
    float:left;
    margin-left:3vh
}    
.costs .box .p{
    color:#C3C7CB;
    text-align: center;
    padding:2vh 0 5vh 0;
}
.costs .box .amount{
    padding:0 0 0 5vh;
    color:#C3C7CB;
    line-height: 1.5;
}
.data_cost{
    float:left;
    margin-left: 25vh;
    margin-top:-2vh;
}
.data_cost button{
    background-color: red;
    width:26vh;
    height:5vh;
    border-style: none;
    border-radius: .5vh;
    color:var(--white);
    font-size: 13px;
    font-weight: bold;
}

/*  #####################################################################################  */
                                                        /* price */



.price{
    overflow: hidden;
    padding-top:20vh;
}

.price .main_photo1{
    float:left;
    width:65%;
height:100vh;
}
.price .main_photo1 img{
    width:100%;

}
.price .mainbox1{
    height:100vh;
    width:35%;
    background-color: #222529;
    float:right;
    
}
/* .price .pay .pay_left{
    float:left;
}
.price .pay .line{
    width:.1vh;
    height:8vh;
    background-color: white;
    float: left;
    margin:4vh 0 0 3vh;
} */
.mainbox1 .advice{
    padding:3vh 0 6vh 13vh;
   
}
.mainbox1 .advice p{
    color: #828B93;
    line-height: 1.4;
}
.mainbox1 button{
    background-color: red;
    width:34vh;
    height:6vh;
    border-style: none;
    border-radius: .5vh;
    color:var(--white);
    font-size: 16px;
    font-weight: bold;
    margin-left:13vh
}
.mainbox1 .home{
    margin-left:13vh;
    margin-top:3vh;
}
.mainbox1 .home p{
    color:white;
    font-size: 13px;
}












.price .main_photo2{
    float:right;
    width:65%;
height:100vh;
}
.price .main_photo2 img{
    width:100%;

}



.price .mainbox2{
    height:100vh;
    width:35%;
    background-color: #222529;
    float:left;
    
}
.price .pay .pay_left{
    float:left;
}
.price .pay .line{
    width:.1vh;
    height:8vh;
    background-color: white;
    float: left;
    margin:4vh 0 0 3vh;
}
.mainbox2 .advice{
    padding:3vh 0 6vh 13vh;
   
}
.mainbox2 .advice p{
    color: #828B93;
    line-height: 1.4;
}
.mainbox2 button{
    background-color: red;
    width:34vh;
    height:6vh;
    border-style: none;
    border-radius: .5vh;
    color:var(--white);
    font-size: 16px;
    font-weight: bold;
    margin-left:13vh
}
.mainbox2 .home{
    margin-left:13vh;
    margin-top:3vh;
}
.mainbox2 .home p{
    color:white;
    font-size: 13px;
}

.info{
    width:100%;
    background-color: #181A1D;
    
}

 .info .info_container{
    width:70%;
    margin:auto;
    
    
}

.info .offers{
    overflow: hidden;
    padding:8vh 0 ;
}
.info .offers .offer{
    float:left;
    width:33.3333333%
}
.info .offers .offer img{
    margin-left: 15vh;
    padding-top:-10vh;
}
.info .offers .offer p{
    margin-left:2vh;
    color:white;
    font-size: 15px;
    padding-top:3vh;
    text-align: center;
}
/*  #####################################################################################  */
                            /* questions */

.questions .data h4{
    text-align: center;
    color:#181A1D;
    padding:15vh 0 2vh 0;
}

.questions .data h1{
    text-align: center;
    color:#181A1D;
    padding:0vh 0 0vh 0;
    font-weight:100;
    font-size: 35px;
    line-height: 1.4;
}
.questions_container{
    margin:auto;
    width:80%;
    
    
}

.questions .photos{
    overflow: hidden;
    width:100%;
    
}
.questions .photos .photo{
    width:30%;
    
    float:left;
    margin-left:2%;
    /* margin-top: 10%;  */
}
.questions .photos .photo img{
    width:100%;
    height:30vh;
}
.questions .photos .photo  .box{
    width:90%;
    height:25vh;
    background-color: white;
    margin-left:5%;
    position:relative;
    bottom:5vh;
    box-shadow:1px 1px 9px 2px #F1F3F5;
}

.questions .photos .photo  .box .line{
    width:6vh;
    height:.2vh;
    background-color:red;
    margin-left:17vh;
}

/*  #####################################################################################  */
                        /* talks */

.talks{
    padding:25vh 0 8vh 8vh;
}

.complete_line{
    margin:auto;
    width:92%;
    height:.4vh;
    background-color:#F1F3F5
}

/*  #####################################################################################  */
                    /* concolution */
.conc .left {
    width:60%;
    
    float:left;
}
.conc .left .unorder_lists {
    margin:7vh 0 0 0vh;
 
}

.conc .left .unorder_lists ul{
    list-style:none;
    float:left;
    margin-left:9vh;

}
.conc .left .unorder_lists ul li{
    line-height:1.8;
    color:#6F6673;
}
.conc .right{
    float:right;
    margin-top:7vh;
    margin-bottom: 5vh;
    /* background-color: rebeccapurple; */

}
.conc .right label{
    color:black;
    
}
.conc .right .my_input{
    padding-top:3vh;
    
}

.conc .right input{
    height:7vh;
    width:36vh;
    border: solid .1vh black;
    padding:0 0 0 2vh;
    
}



.conc .right  button{
    background-color: red;
    width:14vh;
    height:7vh;
    border-radius: .5vh;
    border-style:none;
    position: relative;
    left:40vh;
    top:-7vh
    /* margin-left:40vh;
    margin-top:-20vh */
}
.conc .right p{
    font-size:2vh;
    margin-top:-3vh;
    color:#6F6673;
}

.right .contacts{
    margin-top:4vh
}

/* .right .contacts .my_contacts li .icon_con{
    width:5vh;
    height:5vh;
} */
.right .contacts .my_contacts{
    list-style: none;
}

.right .contacts .my_contacts li{
    margin-top:2vh;
}
.right .contacts .social{
    list-style: none;
    margin-top:5vh;
    margin-left: -3vh;

}
.right .contacts  .social li{
    float: left;
    margin-left:3vh;
}

.conc .left .apps{
margin:15vh 0 0 7vh;
}

.conc .left .apps p{
    font-size:14px;
    color:black;
    word-spacing: 4px;
    margin-bottom:2vh
}



.conc .left .apps .apps_logo{
   list-style: none;
   margin-left:-3vh;
   
}

.conc .left .apps .apps_logo li{
    float: left;
    margin-left:2%
}
.conc .left .apps .apps_logo li img{
    width:17vh;
    height:5vh;
    border-radius:.8vh;
}

/*  #####################################################################################  */
                      /* footer */
 /* .last_stand{
    background-color:#F5F7F9;
    width:100%;
 
 }                     
.last_stand .country img {
    width:10vh;
    height:10vh;
    border-radius:2vh;
}
 */


/*  #####################################################################################  */
/*  #####################################################################################  */
/*  #####################################################################################  */
/*  #####################################################################################  */
/*  #####################################################################################  */
                /*                     end                     */





























